{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.css' %}">
    <style>
        .account {
            width: 600px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            box-shadow: 5px 5px 20px #aaa;

            margin-left: auto;
            margin-right: auto;
            margin-top: 80px;
            padding: 20px 40px;
        }

        .account h2 {
            margin-top: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="account">
    <h2>找回密码</h2>
    <form method="post" novalidate action="/auth/reset/">
        {% csrf_token %}
        <!--表单列表-->
        {% for field in form %}
            {% if field.name != "verification_code" %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field }}
                    <span style="color: red;">{{ field.errors.0 }}</span>
                </div>
            {% else %}
                <div class="form-group">
                    <label for="id_code">{{ field.label }}</label>
                    <div class="row">
                        <div class="col-xs-8">
                            {{ field }}
                            <span style="color: red;">{{ field.errors.0 }}</span>
                        </div>
                        <div class="col-xs-4">
                            <button type="button" id="sendemail" class="btn btn-primary">发送邮件</button>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <input type="submit" value="重置密码" class="btn btn-primary">
        <a href="/" class="btn btn-danger active" role="button">取 消</a>

        <!--表单结束-->
    </form>
</div>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script type="text/javascript">
    const interval = 30; //这边lhw说30秒比较好
    let countdown = interval;
    let button = document.getElementById('sendemail');
    let timer;

    function updateButtonText() {
        button.innerText = '剩余时间: ' + countdown + ' 秒';
    }


    function countdownTick() {
        countdown--;
        updateButtonText(button);

        if (countdown <= 0) {
            clearInterval(timer);
            button.innerText = '发送验证码';
            button.disabled = false;
            button.className = 'btn btn-primary';
        }
    }

    // 使用 JavaScript 事件处理监听按钮点击事件
    document.getElementById('sendemail').addEventListener('click', function () {
        //防止按钮再被点击
        button.disabled = true;
        countdown = interval;
        button.className = 'btn btn-secondary';
        //启动倒计时
        timer = setInterval(countdownTick, 1000);
        let username_or_mobile = document.getElementById("id_username_or_mobile").value
        //发送请求
        $.ajax({
            url: '/auth/resetpasswordemail/',
            type: 'POST',
            data: {
                'username_or_mobile': username_or_mobile,
            },
            dataType: 'JSON',
            success: (
                function (res) {
                    if (res['state']) {
                        // state = true
                        alert(res['msg']);
                    } else {
                        // state = false
                        alert(res['msg']);
                        clearInterval(timer);
                        button.innerText = '发送验证码';
                        button.disabled = false;
                        button.className = 'btn btn-primary';
                    }
                }
            )
        })

    });
</script>
</body>
</html>