
# 本地环境
.idea/
venv/
settings.py

# Pycharm
*.py[cod]
*$py.class

# 本地设置
SeatReservation/local_settings.py
*.sqlite3
media/

# 数据迁移记录
*/migrations/*.py
!*/migrations/__init__.py
/JobRecruitment/local_settings.py

# 加密文件
private_key.pem
public_key.pem