{% extends 'base.html' %}

{% load static humanize widget_tweaks %}

{% block title %}
    Post a reply
{% endblock %}

{% block content %}
    <div style="border-radius: 10px;" class="mt-4 p-4 bg-light">
        <form method="post" class="mb-4" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group mb-3">
                    <div class="mb-1">
                        {{ field.label_tag }}
                    </div>

                    {% if form.is_bound %}
                        {% if field.errors %}

                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}

                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}

                    {% if field.help_text %}
                        <small class="form-text text-muted">
                            {{ field.help_text }}
                        </small>
                    {% endif %}
                </div>
            {% endfor %}

{#            <button type="submit" class="btn btn-success custom-button"><i class="fas fa-reply me-1"></i>回复</button>#}
            <button type="submit" class="btn btn-success custom-button">回复</button>
        </form>

    </div>

{% endblock %}

{% block js %}
    <script>
        var simplemde = new SimpleMDE();
    </script>
{% endblock %}