{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div style="border-radius: 10px;" class="mt-4 p-4 bg-light">

        <h1 style="border-bottom: 1px solid #17a2b8;">
            {{ topic.subject }}
        </h1>
        {% for post in topic.posts.all %}
            <div style="border-bottom: 1px solid #dddddd;">
                <div class="row mb-2">
                    <div class="d-inline-block">
                        <a href="{% url 'UserInfo:index' %}" class="text-decoration-none">
                            <img src="{% static 'images/' %}{{ matching_files }}?rand=<%= Date.now() %>" class="rounded-circle" alt="头像" style="width:50px; height:50px;">
                        </a>
                        <span class="ms-1 text-muted">
                            {{ post.created_by.username }}
                        </span>
                    </div>

                </div>
                <div class="row" style="margin-left: 47px;">
                    {{ post.get_message_as_markdown }}
                </div>
            </div>

        {% endfor %}

        <div class="mt-4">
            <a href="#" class="btn btn-primary custom-button"><i class="fas fa-reply me-1"></i>回复</a>
        </div>
    </div>

{% endblock %}