.navbar{
    z-index: 999;
}

.custom-text-color {
    color: #17a2b8 !important;
    font-weight: bold;
}

.custom-background{
    background-color: #E5E5E5;
}

.custom-button{
    background-color: #17a2b8;
    color: white;
    border: 1px solid #17a2b8;
}

.left {
    background-color: #17a2b8 !important;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right {
    background-color: white;
    padding: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column p {
    width: 48%;
}

.lbox {
    margin: 20px;
    padding: 10px;
}

.lbox.row {
    padding: 8px 0px;
}

.progress {
    margin-top: 5px;
}

.rbox {
    margin: 30px;
}

.rbox h4 {
    padding-bottom: 5px;
    color: #17a2b8;
    border-bottom: 1px solid #17a2b8;
    font-weight: bold;
}

.content-container {
    padding-top: 40px;
}

.dropdown-container {
    position: relative;
    left: -50px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.dropdown:hover .dropdown-menu{
display: block;
}

.dropdown-menu{
    margin-top: 0;
}

.dropdown-toggle::after {
    content: none;
}

.custom-nav-link:hover {
    color: #17a2b8 !important;
    font-weight: bold;
}

.custom-tabs .nav-link {
  /* 去掉默认的背景色、边框、阴影等样式 */
  background-color: transparent;
  border: none;
  box-shadow: none;

}

.nav-link.custom-tab {
  color: #6c757d; /* 未选中选项的字体颜色 */
  font-size: 1rem; /* 未选中选项的字体大小 */
}

.nav-link.custom-tab.active {
  color: #17a2b8;
  font-size: 1.2rem;
}

.nav-link.custom-tab:hover {
  color: #17a2b8; /* 鼠标悬停在未选中选项上时的字体颜色 */
}

.nav-link.custom-tab.active::after {
  content: "";
  display: block;
  height: 2px; /* 短线段的高度 */
  width: 100%; /* 短线段的宽度 */
  background-color: #17a2b8; /* 短线段的颜色 */
  margin-top: 2px; /* 调整短线段与选项之间的间距 */
}

.nav-link.custom-tab.active::after {
  content: ""; /* 选中的选项不显示短线段 */
}