{% extends 'base.html' %}

{% load static static_tags %}

{% block content %}
    <div class="container content-container">
        <div class="row" style="margin:0 auto; padding-left:100px;">
            <div class="col-md-3 bg-info text-white left" style="width: 30%">
                <div class="lbox">
                    <img src="../../static/images/{{ matching_files }}?rand=<%= Date.now() %>" alt="头像"
                         class="img-fluid d-block m-auto" style="width:250px;height: 250px;">
                </div>
            </div>
            <div class="col-md-7 border right bg-light" style="width: 60%">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="rbox">
                            <h3 id="username" style="font-weight: bold;">{{ username }}</h3>
                        </div>
                    </div>

                </div>
                <div class="rbox col-md-10" style="margin-top: 10px;">
                    <h4>个人信息</h4>
                    <div class="column">
                        <p>
                            <span class="custom-text-color">性别:</span>
                        {% if gender == '1' %}
                            不愿透露
                        {% elif gender == '2' %}
                            男
                        {% elif gender == '3' %}
                            女
                        {% else %}
                            {{ gender }}
                        {% endif %}
                        </p>
                        <p><span class="custom-text-color">学历:</span> {{ edu_ground }}</p>
                        <p><span class="custom-text-color">学校:</span> {{ school }}</p>
                        <p><span class="custom-text-color">专业:</span> {{ major }}</p>
                    </div>
                </div>
                <div class="rbox col-md-10">
                    <h4>求职意向</h4>
                    <p><span class="custom-text-color" style="margin-top: 20px;">预期职位：</span>{{ excepting_position }}
                    </p>
                    <p><span class="custom-text-color">预期地点：</span>{{ excepting_location }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}