{% extends 'base.html' %}

{% load static widget_tweaks %}

{% block title %}个人主页{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <style>

        .custom-text-color {
            color: #17a2b8 !important;
            font-weight: bold;
        }

        .custom-background{
            background-color: #E5E5E5;
        }

        .custom-button{
            background-color: #17a2b8;
            color: white;
            border: 1px solid #17a2b8;
        }
    </style>
{% endblock %}

{% block content %}

{% end block %}