.custom-text-color {
    color: #17a2b8 !important;
    font-weight: bold;
}

.custom-background{
    background-color: #E5E5E5;
}

.custom-button{
    background-color: #17a2b8;
    color: white;
    border: 1px solid #17a2b8;
}

.custom-text-color{
    color: #17a2b8 !important;
}