<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改个人信息</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .custom-background {
            background-color: #E5E5E5;
        }

        .custom-bg-color {
            background-color: #17a2b8;
        }

        .custom-text-color {
            color: #17a2b8;
        }

        h4 {
            padding-bottom: 5px;
            margin-bottom: 20px;
            border-bottom: 1.5px solid;
            font-weight: bold;
        }

    </style>
</head>
<body class="custom-background">

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header custom-bg-color text-white">
                    修改个人资料
                </div>
                <div class="card-body">
                    <form method="post" action="/info/info/">

                        {% csrf_token %}

                        <input type="hidden" id="id" name="id" value="{{ userinfo.id }}">
                        <input type="hidden" id="username" name="username" value="{{ userinfo.username }}">
                        <input type="hidden" id="mobile_phone" name="mobile_phone" value="{{ userinfo.mobile_phone }}">
                        <input type="hidden" id="email" name="email" value="{{ userinfo.email }}">

                        <div class="row">
                            <div class="col-md-6">

                                <h4 class="col-md-8">个人信息</h4>

                                <div class="form-group">
                                    <label for="gender" class="custom-text-color">性别</label>
                                    <select id="gender" name="gender" class="form-control" >
                                        <option value="1" {% if userinfo.gender == "不愿透露" %}selected{% endif %}>不愿透露</option>
                                        <option value="2" {% if userinfo.gender == "男" %}selected{% endif %}>男</option>
                                        <option value="3" {% if userinfo.gender == "女" %}selected{% endif %}>女</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="edu_ground" class="custom-text-color">学历</label>
                                    <input type="text" id="edu_ground" name="edu_ground" value="{{ userinfo.edu_ground }}" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="school" class="custom-text-color">学校</label>
                                    <input type="text" id="school" name="school" value="{{ userinfo.school }}" class="form-control">
                                </div>
                                 <div class="form-group">
                                    <label for="major" class="custom-text-color">专业</label>
                                    <input type="text" id="major" name="major" value="{{ userinfo.major }}" class="form-control">
                                </div>
                            </div>


                            <div class="col-md-6">

                                <h4 class="col-md-8">求职意向</h4>

                                <div class="form-group">
                                    <label for="excepting_position" class="custom-text-color">预期职位</label>
                                    <input type="text" id="excepting_position" name="excepting_position" value="{{ userinfo.excepting_position }}" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="excepting_location" class="custom-text-color">预期地点</label>
                                    <input type="text" id="excepting_location" name="excepting_location" value="{{ userinfo.excepting_location }}" class="form-control">

                                </div>
                                <div class="row">
                                    <div class="offset-md-6 col-md-4" style="margin-top:10px;">
                                        <button type="submit" class="btn btn-block custom-bg-color text-white mt-4">确认修改</button>
                                    </div>
                                </div>
                                <div class="row" style="padding-left: 50px;padding-right:40px; padding-top: 40px">
                                    <div style="font-weight:bold;">
                                        <p><span class="custom-text-color">提示：</span>若您希望修改用户名/联系电话/电子邮箱，请至<span class="custom-text-color">账号安全</span>进行修改。</p>
                                </div>




                                </div>



                            </div>
                    </div>



                    </form>


                </div>
            </div>
        </div>
    </div>
</div>





<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

