{{% load static humanize static_tags %}}


{% with user_avatar_path="images/"|add:user_id|add:".jpg" %}
    {% with default_avatar_path='images/default.jpeg' %}
        {% if user_avatar_path|static_file_exists%}
            <img src="{% static user_avatar_path %}?rand=<%= Date.now() %>" alt="用户头像" class="rounded-circle" style="width:40px; height:40px;">
        {% else %}
            <img src="{% static default_avatar_path %}" alt="默认头像" class="rounded-circle" style="width:40px; height:40px;">
        {% endif %}
    {% endwith %}
{% endwith %}
