{% extends 'base.html' %}

{% load static %}

{% block title %}职位列表{% endblock %}

{% block stylesheet %}
    <style>

        .custom-text-color {
            color: #17a2b8 !important;
            font-weight: bold;
        }


        .custom-background{
            background-color: #E5E5E5;
        }

        .custom-bg-color {
            background-color: #17a2b8;
        }

        .custom-button{
            background-color: #17a2b8;
            color: white;
            border: 1px solid #17a2b8;
        }


        .progress {
            margin-top: 5px;
        }

        .dropdown-container {
            position: relative;
            left: -50px;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }


        .dropdown:hover .dropdown-menu{
        display: block;
        }

        .dropdown-menu{
            margin-top: 0;
        }

        .content-container{
            width: 70%;
        }

        .position-title{
            color: #17a2b8;
            padding-bottom: 5px;
            margin-bottom: 15px;
        }

        .float-right{
            float: right;
        }

        .position-detail{
            margin-left: 15px;
            margin-right:50px;
            padding: 15px;
            border-radius: 5px;
            border: solid 1px #D5D5D5;
            word-wrap:break-word;
            white-space:pre-wrap;
        }

    </style>

{% endblock %}

{% block content %}

    <div class="container content-container bg-light" style="margin-top: 3rem; margin-bottom: 3rem; border-radius: 10px;">
        <div class="row" style="padding-left: 5rem; padding-top:3.5rem; padding-right: 5rem; padding-bottom: 5rem;">

            <div class="row">
                <div class="col-md-7">
                    <div class="position-title">
                        <h1 class="custom-text-color">{{ position_name }}</h1>
                    </div>
                </div>
                <div class="col-md-5">
                    {% if HR.id == user_id %}
                    <a href="/position/modify/{{ position_id }}/" class="btn btn-primary custom-button float-right"
                       style="text-align: right;">修改职位信息</a>
                    {% endif %}
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <p><span style="font-weight: bold;">简介：</span>{{ summary }}</p>
                <p><span style="font-weight: bold;">发布者：</span>{{ HR }}</p>
                <p><span style="font-weight: bold;">岗位地点：</span>{{ district }}</p>
                <p><span style="font-weight: bold;">薪水：</span>{{ salary }}</p>
                <p><span style="font-weight: bold;">详细要求：</span></p>
            </div>
            <div class="row position-detail">
                <p>{{ detail }}</p>
            </div>


        </div>
    </div>

{% endblock %}

{% block js %}

    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function(){
            $(".dropdown").hover(function(){
                var dropdownMenu = $(this).children(".dropdown-menu");
                if(dropdownMenu.is(":visible")){
                    dropdownMenu.parent().toggleClass("open");
                }
            });
        });

        $(document).ready(function(){
            $(document).off('click.bs.dropdown.data-api');
        });

    </script>

{% endblock %}

