{% extends 'base.html' %}
{% load static %}

{% block title %}职位列表{% endblock %}

{% block stylesheet %}
    <style>

        .custom-text-color {
            color: #17a2b8 !important;
            font-weight: bold;
        }


        .custom-background{
            background-color: #E5E5E5;
        }

        .custom-bg-color {
            background-color: #17a2b8;
        }

        .custom-button{
            background-color: #17a2b8;
            color: white;
            border: 1px solid #17a2b8;
        }


        .progress {
            margin-top: 5px;
        }

        .dropdown-container {
            position: relative;
            left: -50px;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }


        .dropdown:hover .dropdown-menu{
        display: block;
        }

        .dropdown-menu{
            margin-top: 0;
        }

        .card-container {
            margin-top: 20px;
            padding-right: 20px;
            padding-left: 20px;
        }

        .card-body {
            background-color: white;
        }

        .card-container a {
            text-decoration: none;
            color: black;
        }

        .card-header {
            font-weight: bold;
            font-size: 30px;
        }

        .card:hover{
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        .card-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            height: 100%;
        }

        .card-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            color: #17a2b8;
            font-weight: bold;
            font-size: 25px;
            word-wrap: break-word;
        }

        .hr-line {
            position: absolute;
            left: 0;
            top: 0;
            width: 3px;
            height: 100%;
            background-color: #17a2b8;
        }

        .hr-line-light {
            position: relative;
            left: 0;
            top: 0;
            width: 1px;
            height: 100%;
            background-color: #17a2b8;
            background-color: rgba(23, 162, 184, 0.6);
        }

        .property-box {
            background-color: rgba(229, 229, 229, 0.6);
            padding: 1px;
            margin-top: 3px;
            border-radius: 1px;
            font-size: 13px;
            width: 100%;
            text-align: center;
        }

        .card{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .list-content{
            background-color: white;
            border-radius: 10px;
            padding-top: 30px;
            padding-bottom: 50px;
            padding-left: 50px;
            padding-right: 50px;
            margin: auto;
            margin-top: 20px;
        }

        .content-container{
            display: flex;
            width: 80%;
            margin: auto;
        }

        h1{
            font-weight: bold;
            font-size: 30px;
            padding-left: 20px;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="content-container">

        <div class="list-content">
            <h1>最新发布职位</h1>
            <div class="row">
                {% for obj in query_set %}
                <div class="col-md-6 card-container">
                    <a href="/position/view/{{ obj.id }}" class="card-link">
                        <div class="card">
                            <div class="hr-line"></div>
                            <div class="card-body" style="border-radius: 20px;">
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="card-title" id="position-name-{{ obj.id }}">
                                        {{ obj.position_name }}
                                    </div>
                                </div>
                                <script>
                                    console.log('test the length of title');
                                    var myBox = document.getElementById('position-name-{{ obj.id }}');
                                    var text = myBox.innerText;
                                    console.log(text);
                                    console.log(text.length);
                                    var maxLength = 15;
                                    if (text.length > maxLength) {
                                        text = text.substring(0, maxLength) + '...';
                                    }
                                    myBox.innerText = text;
                                </script>
                                    <div class="col-md-2" style="padding: 0;">
                                        <div class="card-content">
                                            <div class="col-md-6 property-box">{{ obj.salary }}</div>
                                            <div class="col-md-6 property-box">{{ obj.get_district_display }}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="hr-line-light"></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card-content">
                                            发布者: {{ obj.HR }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function(){
            $(".dropdown").hover(function(){
                var dropdownMenu = $(this).children(".dropdown-menu");
                if(dropdownMenu.is(":visible")){
                    dropdownMenu.parent().toggleClass("open");
                }
            });
        });

        $(document).ready(function(){
            $(document).off('click.bs.dropdown.data-api');
        });






    </script>
{% endblock %}