{% load static static_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Django Boards{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    {% block stylesheet %}{% endblock %}
</head>
<body class="custom-background">

    {% block body %}
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand custom-text-color" href="{% url 'Forum:home' %}">JobRecruitment</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link custom-nav-link" style="margin-left: 1rem;" href="{% url 'Forum:home' %}">首页</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-nav-link" style="margin-left: 1rem;" href="{% url 'PublishPosition:publish_list' %}">职位</a>
                        </li>
                    </ul>
                    <form class="d-flex" method="get" action="/position/list/">
                        <input class="form-control me-2" type="text" name="keyword" placeholder="搜索职位...">
                        <input type="hidden" name="target_place" value="0">
                        <input type="hidden" name="page" value="1">
                        <input type="hidden" name="page_size" value="10">
                        <button class="btn btn-primary custom-button" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                    {% if 'UserInfo' in request.session %}
                        <div class="nav-item dropdown">
                            {% with id=request.session.UserInfo.id %}
                                <a class="nav-link dropdown-toggle" href="{% url 'UserInfo:index' id %}" id="navbardrop" data-toggle="dropdown">
                                    {% with user_id=id|stringformat:'d' %}
                                        {% with user_avatar_path="images/"|add:user_id %}
                                            {% query_image_extension user_avatar_path as user_avatar_full_path %}
                                            {% with default_avatar_path='images/default.jpeg' %}
                                                {% if user_avatar_full_path|static_file_exists %}
                                                    <img src="{% static user_avatar_full_path %}?rand=<%= Date.now() %>" alt="用户头像" class="rounded-circle" style="width:40px; height:40px;">
                                                {% else %}
                                                    <img src="{% static default_avatar_path %}" alt="默认头像" class="rounded-circle" style="width:40px; height:40px;">
                                                {% endif %}
                                            {% endwith %}
                                        {% endwith %}
                                    {% endwith %}
                                </a>
                            {% endwith %}
                            <div class="dropdown-menu">

                                <a class="dropdown-item" href="{% url 'UserInfo:resume' %}">我的简历</a>
                                <a class="dropdown-item" href="{% url 'UserInfo:application' %}">我的投递</a>
                                <a class="dropdown-item" href="{% url 'UserMessage:message_box' %}">我的收件箱</a>
                                <a class="dropdown-item" href="{% url 'UserInfo:user_info' %}">个人资料</a>
                                <a class="dropdown-item" href="{% url 'UserInfo:account' %}">账号安全</a>
                                <a class="dropdown-item" href="{% url 'UserInfo:my_position' %}">我发布的职位</a>
                                <a class="dropdown-item" href="{% url 'UserAuth:logout' %}">退出登录</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <button type="button" class="btn btn-primary custom-button dropdown-toggle" onclick="window.location.href='#'" data-toggle="dropdown">
                                发布
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'Forum:new_topic' %}">发动态</a>
                                <a class="dropdown-item" href="{% url 'PublishPosition:publish'%}">发职位</a>
                            </div>
                        </div>
                    {% else %}
                        <form class="form-inline ml-auto">
                            <a href="{% url 'UserAuth:login' %}" class="btn btn-outline-secondary">Log in</a>
                            <a href="{% url 'UserAuth:register' %}" class="btn btn-primary ml-2">Sign up</a>
                        </form>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        <footer class="bg-dark text-muted">
            <div class="container py-4">
                <div class="row">
                    <div class="col-md-4">
                        <h5>联系方式</h5>
                        <ul class="list-unstyled">
                            <li>电话：173-2549-3149</li>
                            <li>邮件：songyhinf@qq.com</li>
                            <li>地址：上海市闵行区东川路800号</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>导航</h5>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'Forum:home' %}" class="text-decoration-none text-secondary">首页</a></li>
                            <li><a href="#" class="text-decoration-none text-secondary">关于我们</a></li>
                            <li><a href="#" class="text-decoration-none text-secondary">服务</a></li>
                            <li><a href="#" class="text-decoration-none text-secondary">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>社交媒体</h5>
                        <ul class="list-unstyled">
                            <li><a href="https://www.facebook.com/" class="text-decoration-none text-secondary"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/" class="text-decoration-none text-secondary"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/" class="text-decoration-none text-secondary"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <script>
            $(document).ready(function(){
                $(".dropdown").hover(function(){
                    var dropdownMenu = $(this).children(".dropdown-menu");
                    if(dropdownMenu.is(":visible")){
                        dropdownMenu.parent().toggleClass("open");
                    }
                });
            });

            $(document).ready(function(){
                $(document).off('click.bs.dropdown.data-api');
            });
        </script>

        {% block js %}
        {% endblock %}

    {% endblock body %}

</body>
</html>